/* Imports */
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");
@import "./_partials/reset";
@import "./_partials/colors";

/* Views */
@import "./views/home.scss",
"./views/report-by-states.scss";

/* Components */
@import "./components/loader.scss";

/* Sections */
@import "./sections/header.scss",
"./sections/footer.scss";

$footer-height: 168px;

* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  overflow-y: visible;
}

body {
  overflow-x: hidden;
  overflow-y: auto;
  height: 100vh;

  font-size: 16px;
}

#app {
  width: 100%;
  height: 100%;
}

main {
  position: relative;
  height: 100%;

  background: $grey-blue;
}

.updated-hour {
  text-align: center;
  display: inline-block;
  font-size: 1rem;
  line-height: 1.5rem;
  color: $white;
  margin-top: 0.5rem;
  position: relative;

  @media (max-width: 600px) {
    margin-top: 1rem;
  }

  i {
    display: inline-block;
    margin-right: 0.6rem;
    font-size: 1rem;
    line-height: 1.5rem;
  }
}