/* Imports */
@import './_partials/reset';
@import './_partials/colors';
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box
}

$footer-height: 168px;

html {
    overflow-x: hidden;
    overflow-y: visible;
}

body {
    overflow-x: hidden;
    overflow-y: overlay;

    font-size: 16px;
}

main {
    position: relative;
    height: 100vh;

    background: $background;
}

.main-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    padding: 4rem;
    padding-bottom: 8%;
    background: $background;

    position: relative;

    &::before {
        content: "";
        display: block;

        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        opacity: .2;

        // background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3Ccircle stroke='%239b59b6' vector-effect='non-scaling-stroke' id='a' fill='none' stroke-width='1' r='315'/%3E%3Cuse id='f' href='%23a' stroke-dasharray='100 100 100 9999'/%3E%3Cuse id='b' href='%23a' stroke-dasharray='250 250 250 250 250 9999'/%3E%3Cuse id='e' href='%23a' stroke-dasharray='1000 500 1000 500 9999'/%3E%3Cuse id='g' href='%23a' stroke-dasharray='1500 9999'/%3E%3Cuse id='h' href='%23a' stroke-dasharray='2000 500 500 9999'/%3E%3Cuse id='j' href='%23a' stroke-dasharray='800 800 800 800 800 9999'/%3E%3Cuse id='k' href='%23a' stroke-dasharray='1200 1200 1200 1200 1200 9999'/%3E%3Cuse id='l' href='%23a' stroke-dasharray='1600 1600 1600 1600 1600 9999'/%3E%3C/defs%3E%3Cg transform='translate(1000 750)' stroke-opacity='0.05'%3E%3Cg transform='rotate(25.2 0 0)' %3E%3Ccircle fill='%239b59b6' fill-opacity='0.05' r='10'/%3E%3Cg transform='rotate(-156 0 0)'%3E%3Cuse href='%23f' transform='scale(.1) rotate(50 0 0)' /%3E%3Cuse href='%23f' transform='scale(.2) rotate(100 0 0)' /%3E%3Cuse href='%23f' transform='scale(.3) rotate(150 0 0)' /%3E%3C/g%3E%3Cg transform='rotate(-53.4 0 0)'%3E%3Cuse href='%23b' transform='scale(.4) rotate(200 0 0)' /%3E%3Cuse href='%23z' transform='scale(.5) rotate(250 0 0)' /%3E%3C/g%3E%3Cg id='z' transform='rotate(70.2 0 0)'%3E%3Cg transform='rotate(15.75 0 0)'%3E%3Cuse href='%23b'/%3E%3Cuse href='%23b' transform='scale(1.2) rotate(90 0 0)' /%3E%3Cuse href='%23b' transform='scale(1.4) rotate(60 0 0)' /%3E%3Cuse href='%23e' transform='scale(1.6) rotate(120 0 0)' /%3E%3Cuse href='%23e' transform='scale(1.8) rotate(30 0 0)' /%3E%3C/g%3E%3C/g%3E%3Cg id='y' transform='rotate(240.3 0 0)'%3E%3Cg transform='rotate(9.45 0 0)'%3E%3Cuse href='%23e' transform='scale(1.1) rotate(20 0 0)' /%3E%3Cuse href='%23g' transform='scale(1.3) rotate(-40 0 0)' /%3E%3Cuse href='%23g' transform='scale(1.5) rotate(60 0 0)' /%3E%3Cuse href='%23h' transform='scale(1.7) rotate(-80 0 0)' /%3E%3Cuse href='%23j' transform='scale(1.9) rotate(100 0 0)' /%3E%3C/g%3E%3C/g%3E%3Cg transform='rotate(-18.9 0 0)'%3E%3Cg transform='rotate(-70.2 0 0)'%3E%3Cg transform='rotate(-320.4 0 0)'%3E%3Cuse href='%23h' transform='scale(2) rotate(60 0 0)'/%3E%3Cuse href='%23j' transform='scale(2.1) rotate(120 0 0)'/%3E%3Cuse href='%23j' transform='scale(2.3) rotate(180 0 0)'/%3E%3Cuse href='%23h' transform='scale(2.4) rotate(240 0 0)'/%3E%3Cuse href='%23j' transform='scale(2.5) rotate(300 0 0)'/%3E%3C/g%3E%3Cuse href='%23y' transform='scale(2) rotate(180 0 0)' /%3E%3Cuse href='%23j' transform='scale(2.7)'/%3E%3Cuse href='%23j' transform='scale(2.8) rotate(45 0 0)'/%3E%3Cuse href='%23j' transform='scale(2.9) rotate(90 0 0)'/%3E%3Cuse href='%23k' transform='scale(3.1) rotate(135 0 0)'/%3E%3Cuse href='%23k' transform='scale(3.2) rotate(180 0 0)'/%3E%3C/g%3E%3Cuse href='%23k' transform='scale(3.3) rotate(225 0 0)'/%3E%3Cuse href='%23k' transform='scale(3.5) rotate(270 0 0)'/%3E%3Cuse href='%23k' transform='scale(3.6) rotate(315 0 0)'/%3E%3Cuse href='%23k' transform='scale(3.7)'/%3E%3Cuse href='%23k' transform='scale(3.9) rotate(75 0 0)'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
        background-image: url("~@/assets/images/coronavirus.jpeg");
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

    }

    @media (max-width: 600px) {
        padding: 1.5rem;
    }

    img {
        max-width: 100%;
    }
}

a {
    text-decoration: none;
    color: $link;
}

h1.main-question {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    text-align: center;
    // line-height: 100%;
    color: $question;

    text-transform: uppercase;

    position: relative;

    @media (max-width: 600px) {
        margin-bottom: 2rem;
        font-size: 2rem;
    }

    .highlight {
        color: $highlight;
        display: block;
        text-transform: uppercase;
        font-size: 3.5rem;
        line-height: 120%;

        @media (max-width: 600px) {
            font-size: 2.5rem;
            line-height: 3rem
        }
    }
}

p.main-response {
    display: block;
    font-weight: bold;
    font-size: 12rem;
    color: $report;

    position: relative;

    @media (max-width: 600px) {
        font-size: 8rem;
        margin-bottom: 2rem;
    }
}

ul.locate-list {
    display: flex;
    text-align: center;
    margin-top: 4rem;
    position: relative;

    li {
        margin: 0 1.4rem;

        .card {
            // margin: 30px auto;
            width: 200px;
            // height: 150px;
            border-radius: 4px;
            box-shadow: 5px 5px 10px 7px rgba(0, 0, 0, 0.25), -5px -5px 30px 7px rgba(0, 0, 0, 0.22);

            padding: 1rem;
            // transition: 0.4s;
            background-color: $question;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .card .card-title {
            text-align: center;
            font-size: 1.5rem;
            color: $text;
            margin-bottom: .5rem;
            color: #fff;
        }

        .card .card-content {
            font-size: 4rem;
            font-weight: bold;
            text-align: center;
            color: $question;
        }
    }

    strong {
        font-size: 2rem;
        color: $text;
        display: block;
        // margin-bottom: 1rem;
    }

    span {
        font-size: 1.4rem;
        color: $text;
    }
}

.info-box {
    display: flex;
    flex-direction: column;

    p {
        display: block;
        margin-bottom: 1rem;

        strong {
            font-weight: bold;
        }
    }

    a {
        line-height: 1.5em;
        display: inline-block;
        margin-right: 10px;
    }
}

footer {
    position: relative;
    width: 100%;
    padding: 2rem;
    background-color: $background;

    display: flex;

    h2,
    p {
        color: #fff;
    }

    @media (max-width: 600px) {
        flex-direction: column;
        position: relative;
        width: calc(100% + (2rem * 2))
    }

    &>div {
        width: 50%;

        @media (max-width: 600px) {
            width: 100%;
            margin-bottom: 1rem;
        }
    }


    .collaborators {
        li {
            display: block;
            color: #fff;

            a {
                display: flex;
                align-items: center;
                margin: 0.5rem 0;
            }

            svg {
                width: 20px;
                height: 20px;
                display: inline-block;
                margin-right: .5rem;
            }
        }
    }
}

/*LOADER*/

/* KEYFRAMES */

@keyframes spin {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(359deg);
    }
}

@keyframes spin3D {
    from {
        transform: rotate3d(.5, .5, .5, 360deg);
    }

    to {
        transform: rotate3d(0deg);
    }
}

@keyframes configure-clockwise {
    0% {
        transform: rotate(0);
    }

    25% {
        transform: rotate(90deg);
    }

    50% {
        transform: rotate(180deg);
    }

    75% {
        transform: rotate(270deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes configure-xclockwise {
    0% {
        transform: rotate(45deg);
    }

    25% {
        transform: rotate(-45deg);
    }

    50% {
        transform: rotate(-135deg);
    }

    75% {
        transform: rotate(-225deg);
    }

    100% {
        transform: rotate(-315deg);
    }
}

@keyframes pulse {
    from {
        opacity: 1;
        transform: scale(1);
    }

    to {
        opacity: .25;
        transform: scale(.75);
    }
}

/* GRID STYLING */

//   * {
//     box-sizing: border-box;
//   }

//   body {
//     min-height: 100vh;
//     background-color: #37474f;
//     display: flex;
//     justify-content: space-between;
//     flex-wrap: wrap;
//     align-items: flex-start;
//   }

.spinner-box {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $background;
}

/* SPINNING CIRCLE */

.leo-border-1 {
    position: absolute;
    width: 150px;
    height: 150px;
    padding: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: rgb(63, 249, 220);
    background: linear-gradient(0deg, rgba(63, 249, 220, 0.1) 33%, rgba(63, 249, 220, 1) 100%);
    animation: spin3D 1.8s linear 0s infinite;
}

.leo-core-1 {
    width: 100%;
    height: 100%;
    background-color: #37474faa;
    border-radius: 50%;
}

.leo-border-2 {
    position: absolute;
    width: 150px;
    height: 150px;
    padding: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: rgb(63, 249, 220);
    background: linear-gradient(0deg, rgba(255, 171, 145, 0.1) 33%, rgba(255, 171, 145, 1) 100%);
    animation: spin3D 2.2s linear 0s infinite;
}

.leo-core-2 {
    width: 100%;
    height: 100%;
    background-color: #ffab91aa;
    border-radius: 50%;
}

/* ALTERNATING ORBITS */

.circle-border {
    width: 150px;
    height: 150px;
    padding: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: rgb(63, 249, 220);
    background: linear-gradient(0deg, rgba(63, 249, 220, 0.1) 33%, rgba(63, 249, 220, 1) 100%);
    animation: spin .8s linear 0s infinite;
}

.circle-core {
    width: 100%;
    height: 100%;
    background-color: #37474f;
    border-radius: 50%;
}

/* X-ROTATING BOXES */

.configure-border-1 {
    width: 115px;
    height: 115px;
    padding: 3px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffab91;
    animation: configure-clockwise 3s ease-in-out 0s infinite alternate;
}

.configure-border-2 {
    width: 115px;
    height: 115px;
    padding: 3px;
    left: -115px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(63, 249, 220);
    transform: rotate(45deg);
    animation: configure-xclockwise 3s ease-in-out 0s infinite alternate;
}

.configure-core {
    width: 100%;
    height: 100%;
    background-color: #37474f;
}

/* PULSE BUBBLES */

.pulse-container {
    width: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pulse-bubble {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: $question;
}

.pulse-bubble-1 {
    animation: pulse .4s ease 0s infinite alternate;
}

.pulse-bubble-2 {
    animation: pulse .4s ease .2s infinite alternate;
}

.pulse-bubble-3 {
    animation: pulse .4s ease .4s infinite alternate;
}

/* SOLAR SYSTEM */

.solar-system {
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.orbit {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #6D9DC5;
    border-radius: 50%;
}

.earth-orbit {
    width: 165px;
    height: 165px;
    -webkit-animation: spin 12s linear 0s infinite;
}

.venus-orbit {
    width: 120px;
    height: 120px;
    -webkit-animation: spin 7.4s linear 0s infinite;
}

.mercury-orbit {
    width: 90px;
    height: 90px;
    -webkit-animation: spin 3s linear 0s infinite;
}

.planet {
    position: absolute;
    top: -5px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #67C0C5;
}

.sun {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #67C0C5;
}

.leo {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.blue-orbit {
    width: 165px;
    height: 165px;
    border: 1px solid #91daffa5;
    -webkit-animation: spin3D 3s linear .2s infinite;
}

.green-orbit {
    width: 120px;
    height: 120px;
    border: 1px solid #91ffbfa5;
    -webkit-animation: spin3D 2s linear 0s infinite;
}

.red-orbit {
    width: 90px;
    height: 90px;
    border: 1px solid #ffca91a5;
    -webkit-animation: spin3D 1s linear 0s infinite;
}

.white-orbit {
    width: 60px;
    height: 60px;
    border: 2px solid #ffffff;
    -webkit-animation: spin3D 10s linear 0s infinite;
}

.w1 {
    transform: rotate3D(1, 1, 1, 90deg)
}

.w2 {
    transform: rotate3D(1, 2, .5, 90deg)
}

.w3 {
    transform: rotate3D(.5, 1, 2, 90deg)
}