
/* CURRENT PALLET */
$grey-blue:#2c3e50;

$pink: #EF3D59;
$orange: #E17A47;
$yellow: #EFC958;
$yellow-dark: #ceb056;
$green: #4AB19D;
$grey: #344E5C;
$white: #fff;

/* Text colors */
$text: #2c3e50;
$text-light: #ecf0f1;


/* =======
OLD PALLET
======= */

// $grey-blue: #2c3e50;
// $white: #fff;

// $green: #67C0C5;
// // $highlight: #6D9DC5;
// $highlight: #fff;
// $report: #ecf0f1;
// // $yellow: #e2b708;
// $yellow-dark: #eec316;



// $card: #70a1ff;